
<div *ngIf="auth.authState !== null; else showNone">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sent email
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let email of emails | async">
        <div *ngIf="auth.currentUserId === email.userId;">
          <div *ngIf="email.classification == -1">
            <mat-card>
              <mat-card-content routerLink="{{email.id}}">
                <h2>{{email.subject}}</h2>
                <p><small>Sent by {{email.sentBy}} &bull; on {{email.date.toDate()}}</small></p>
                <p>{{email.content}}</p>

              </mat-card-content>

              <mat-card-actions align="end">
                <button mat-icon-button (click)="delete(email.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>

          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Reply email
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let email of emails | async">
        <div *ngIf="auth.currentUserId === email.userId">
          <div *ngIf="email.classification == -2">
            <mat-card>
              <mat-card-content routerLink="{{email.id}}">
                <h2>{{email.subject}}</h2>
                <p><small>Sent by {{email.sentBy}} &bull; on {{email.date.toDate()}}</small></p>
                <p>{{email.content}}</p>

              </mat-card-content>

              <mat-card-actions align="end">
                <button mat-icon-button (click)="delete(email.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>

          </div>
        </div>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Inbox with Smart Coordinator
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Require/Help Sector
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let email of emails | async">
          <div *ngIf="auth.currentUserId === email.userId;">
            <div *ngIf="email.classification == 0">
              <mat-card>
                <mat-card-content routerLink="{{email.id}}">
                  <h2>{{email.subject}}</h2>
                  <p><small>Sent by {{email.sentBy}} &bull; on {{email.date.toDate()}}</small></p>
                  <p>{{email.content}}</p>

                </mat-card-content>

                <mat-card-actions align="end">
                  <button mat-icon-button (click)="delete(email.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>

            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            System Sector
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let email of emails | async">
          <div *ngIf="auth.currentUserId === email.userId;">
            <div *ngIf="email.classification == 1">
              <mat-card>
                <mat-card-content routerLink="{{email.id}}">
                  <h2>{{email.subject}}</h2>
                  <p><small>Sent by {{email.sentBy}} &bull; on {{email.date.toDate()}}</small></p>
                  <p>{{email.content}}</p>

                </mat-card-content>

                <mat-card-actions align="end">
                  <button mat-icon-button (click)="delete(email.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>

            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Accomodation Sector
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let email of emails | async">
          <div *ngIf="auth.currentUserId === email.userId;">
            <div *ngIf="email.classification == 2">
              <mat-card>
                <mat-card-content routerLink="{{email.id}}">
                  <h2>{{email.subject}}</h2>
                  <p><small>Sent by {{email.sentBy}} &bull; on {{email.date.toDate()}}</small></p>
                  <p>{{email.content}}</p>

                </mat-card-content>

                <mat-card-actions align="end">
                  <button mat-icon-button (click)="delete(email.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>

            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Money Sector
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let email of emails | async">
          <div *ngIf="auth.currentUserId === email.userId;">
            <div *ngIf="email.classification == 3">
              <mat-card>
                <mat-card-content routerLink="{{email.id}}">
                  <h2>{{email.subject}}</h2>
                  <p><small>Sent by {{email.sentBy}} &bull; on {{email.date.toDate()}}</small></p>
                  <p>{{email.content}}</p>

                </mat-card-content>

                <mat-card-actions align="end">
                  <button mat-icon-button (click)="delete(email.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>

            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Problem Sector
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let email of emails | async">
          <div *ngIf="auth.currentUserId === email.userId;">
            <div *ngIf="email.classification == 4">
              <mat-card>
                <mat-card-content routerLink="{{email.id}}">
                  <h2>{{email.subject}}</h2>
                  <p><small>Sent by {{email.sentBy}} &bull; on {{email.date.toDate()}}</small></p>
                  <p>{{email.content}}</p>

                </mat-card-content>

                <mat-card-actions align="end">
                  <button mat-icon-button (click)="delete(email.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>

            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Study Sector
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let email of emails | async">
          <div *ngIf="auth.currentUserId === email.userId;">
            <div *ngIf="email.classification == 5">
              <mat-card>
                <mat-card-content routerLink="{{email.id}}">
                  <h2>{{email.subject}}</h2>
                  <p><small>Sent by {{email.sentBy}} &bull; on {{email.date.toDate()}}</small></p>
                  <p>{{email.content}}</p>

                </mat-card-content>

                <mat-card-actions align="end">
                  <button mat-icon-button (click)="delete(email.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>

            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Emotion Sector
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let email of emails | async">
          <div *ngIf="auth.currentUserId === email.userId;">
            <div *ngIf="email.classification == 6">
              <mat-card>
                <mat-card-content routerLink="{{email.id}}">
                  <h2>{{email.subject}}</h2>
                  <p><small>Sent by {{email.sentBy}} &bull; on {{email.date.toDate()}}</small></p>
                  <p>{{email.content}}</p>

                </mat-card-content>

                <mat-card-actions align="end">
                  <button mat-icon-button (click)="delete(email.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>

            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Marked as spam
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let email of emails | async">
          <div *ngIf="auth.currentUserId === email.userId;">
            <div *ngIf="email.classification == 7">
              <mat-card>
                <mat-card-content routerLink="{{email.id}}">
                  <h2>{{email.subject}}</h2>
                  <p><small>Sent by {{email.sentBy}} &bull; on {{email.date.toDate()}}</small></p>
                  <p>{{email.content}}</p>

                </mat-card-content>

                <mat-card-actions align="end">
                  <button mat-icon-button (click)="delete(email.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>

            </div>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-expansion-panel>
  </mat-accordion>
</div>
<ng-template #showNone >
  <div class="container">
    <div class="row">
    
    <div class="col-sm-6" style="background-color:rgba(204, 160, 160, 0.5);">

   <marquee behavior="scroll" direction="up"  scrollamount="1"><h3><div style="text-align:center"><font size="+3">
    <p style="color:white;">Do you have a lot of e-mails need to be answered, and no time to read all of them?</p>
    </font></div></h3><h4><div style="text-align:center"><font size="+3"> <p style="color:white;"> Which one should you answer at first?!</p></font></div></h4><h5><div style="text-align:center"><font size="+3"><p style="color:white;">Now we offer a solution! The smartCoordinator! will take the emails and separate each where they truly belong!</p></font></div></h5><h6><div style="text-align:center"> <font size="+3"> <p style="color:white;"> We kindly ask you to login!</p></font></div></h6></marquee>


  
    </div>
    <div class="col-sm-6">
      
    <marquee behavior="scroll" direction="up">

      <img src="https://icon-library.net/images/new-notification-icon/new-notification-icon-11.jpg" width="150" height="150" alt="Flying Bee"ALIGN="RIGHT" hspace="20">
      
      </marquee>
  
    </div>
    </div> </div>
</ng-template>