<html>
<body style="background-color:rgb(247, 90, 90);">


<router-outlet></router-outlet>
<section>
    

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Compose your email
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput placeholder="Email subject" [(ngModel)]="subject" name="subject">
            </mat-form-field>
            <br>
            <mat-form-field>
                <textarea matInput placeholder="Post content" [(ngModel)]="content" name="content" rows="10"></textarea>
            </mat-form-field>
            <br>
            <button mat-raised-button (click)="sendEmail()" color="accent" [disabled]="!subject || !content">{{buttonText}}</button>
            <h1><button onclick="window.print()">Print This Page</button></h1>


        </mat-expansion-panel>
    </mat-accordion>
</section>
</body>
</html>
