mat-card {
    margin: 10px auto;
    max-width: 700px;
  }
mat-form-field {
  width: 100%;
}

mat-expansion-panel {
  margin-left: 3%;
  margin-right: 3%;
}

mat-panel-title {
  font-family: 'Graphik Web',Helvetica,sans-serif;
  font-size: 1.4em;
}
