
<router-outlet></router-outlet>
<section>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Compose email
                </mat-panel-title>
            </mat-expansion-panel-header>
            
            <mat-form-field>
                <input matInput placeholder="Send to" [(ngModel)]="sendTo" name="sendTo">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Email subject" [(ngModel)]="subject" name="subject">
            </mat-form-field>
            <br>
            <mat-form-field>
                <textarea matInput placeholder="Email content" [(ngModel)]="content" name="content" rows="10"></textarea>
            </mat-form-field>
            <br>
            <button mat-raised-button (click)="sendEmail()" color="accent" [disabled]="!subject || !content">{{buttonText}}</button>
            <br>
            <br>
            <button mat-raised-button onclick="window.print()" color="blue" class ="print-page">Print This Page</button>


        </mat-expansion-panel>
    </mat-accordion>
</section>
